$base-color: #0000FF;
$important-color: #000066;
$warning-color: #00FFFF;
$border-radius-theme: 0.2em;
$box-font: 'Comic Sans MS';
$main-font: 'Impact';
$secondary-font: 'Courier New';
$box-shadow-theme: 10px 10px 10px 1px rgba(0, 0, 0, 0.76);