$base-color: #FF0000;
$important-color: #660000;
$warning-color: #FFC0CB;
$border-radius-theme: 0.2em;
$box-font: 'Comic Sans MS';
$main-font: 'Arial';
$secondary-font: 'Lucida Console';
$box-shadow-theme: -10px 10px 10px 1px rgba(0, 0, 0, 0.76);