//----------- Colors -------------//
$base-color-red: red;
$base-color-green: green;
$base-color-blue: blue;


//---------- Sizes -------------//
$container-width: 100px;
$container-height: 250px;

//---------- Palette variables --------//
$paletteGradualPercent: 10;
$paletteSize: 10;